*.simg
*.sif
.pytest_cache
__pycache__
vulcodedetectmodel/__pycache__
vulcodedetectmodel/storage/processed
vulcodedetectmodel/storage/cache
vulcodedetectmodel/storage/external/checkpoints
vulcodedetectmodel/storage/external/joern-cli
vulcodedetectmodel/storage/external/output
*.egg-info
output
cache 
processed
.vscode/sftp.json
hpc/logs/*
.dccache
**/*.pyc
**/*.gzip
**/workspace