*.simg
*.sif
.pytest_cache
__pycache__
vuljavadetectmodel/__pycache__
vuljavadetectmodel/storage/processed
vuljavadetectmodel/storage/cache
vuljavadetectmodel/storage/external/checkpoints
vuljavadetectmodel/storage/external/joern-cli
vuljavadetectmodel/storage/external/output
*.egg-info
output
cache 
processed
.vscode/sftp.json
hpc/logs/*
.dccache
**/*.pyc
**/*.gzip
**/workspace